##  Categorical and Numerical Imputation

////Objective: Clean a mixed dataset with both missing numerical and
categorical values.///

In [1]:
import pandas as pd
import numpy as np

///Load data://

In [2]:
data={'age': [25, 30, np.nan, 45, 50],
    'salary': [50000, np.nan, 60000, 55000, np.nan],
    'gender': ['Male', 'Female', np.nan, 'Male', 'Female'],
    'city': ['Delhi', np.nan, 'Chennai', 'Delhi', np.nan]}
df=pd.DataFrame(data)
print("Original data is:\n",df)
d_type=df.dtypes
print("\n Data types of each column:\n",d_type)

Original data is:
     age   salary  gender     city
0  25.0  50000.0    Male    Delhi
1  30.0      NaN  Female      NaN
2   NaN  60000.0     NaN  Chennai
3  45.0  55000.0    Male    Delhi
4  50.0      NaN  Female      NaN

 Data types of each column:
 age       float64
salary    float64
gender     object
city       object
dtype: object

///Select categorical and numerical columns//

In [3]:
num_cols=df.select_dtypes(include=['float64']).columns
cat_cols=df.select_dtypes(include=['object']).columns

//Impute numerical columns///

In [4]:
for col in num_cols:
    df[col]=df[col].fillna(df[col].median())
for col in cat_cols:
    df[col]=df[col].fillna(df[col].mode()[0])

print("\n Cleaned DtaFrame:\n",df)

 Cleaned DtaFrame:
     age   salary  gender     city
0  25.0  50000.0    Male    Delhi
1  30.0  55000.0  Female    Delhi
2  37.5  60000.0  Female  Chennai
3  45.0  55000.0    Male    Delhi
4  50.0  55000.0  Female    Delhi